<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/layout :: header">
	<title>Toy Box</title>
</head>
<body>
<div class="container">
	<!-- Codrops top bar -->
	<header class="clearfix">
		<h1>Toy Box</h1>
	</header>
	<div class="main">

		<ul id="rb-grid" class="rb-grid clearfix">
			<li class="flaticon-thermometer4 rb-span-2">
				<h3>온도</h3>
				<div class="rb-overlay">
					<span class="rb-close">close</span>
					<div class="rb-main">
						<div class="rb-title"><h3>온도</h3></div>

						<div class="rb-body1">
							<div><span>1F</span><span class="icon-clima-2"></span><span>19°C</span></div>
							<div><span>2F</span><span class="icon-clima-2"></span><span>19°C</span></div>
							<div><span>3F</span><span class="icon-clima-2"></span><span>18°C</span></div>
							<div><span>4F</span><span class="icon-clima-2"></span><span>17°C</span></div>
							<div><span>5F</span><span class="icon-clima-2"></span><span>19°C</span></div>
							<div><span>6F</span><span class="icon-clima-2"></span><span>22°C</span></div>
							<div><span>7F</span><span class="icon-clima-2"></span><span>18°C</span></div>
							<div><span>8F</span><span class="icon-clima-2"></span><span>18°C</span></div>
							<div><span>9F</span><span class="icon-clima-2"></span><span>18°C</span></div>
							<div><span>10F</span><span class="icon-clima-2"></span><span>18°C</span></div>
						</div>

					</div>
				</div>
			</li>
			<li class="flaticon-humidity icon-clima-2">
				<h3>습도</h3>
				<div class=" rb-overlay">
					<span class="rb-close">close</span>
					<div class="rb-main">
						<div class="rb-title"><h3>습도</h3></div>

						<div class="rb-body2">
							<div><span>1F</span><span class="icon-clima-2"></span><span>19%</span></div>
							<div><span>2F</span><span class="icon-clima-2"></span><span>19%</span></div>
							<div><span>3F</span><span class="icon-clima-2"></span><span>18%</span></div>
							<div><span>4F</span><span class="icon-clima-2"></span><span>17%</span></div>
							<div><span>5F</span><span class="icon-clima-2"></span><span>19%</span></div>
							<div><span>6F</span><span class="icon-clima-2"></span><span>22%</span></div>
							<div><span>7F</span><span class="icon-clima-2"></span><span>18%</span></div>
							<div><span>8F</span><span class="icon-clima-2"></span><span>18%</span></div>
							<div><span>9F</span><span class="icon-clima-2"></span><span>18%</span></div>
							<div><span>10F</span><span class="icon-clima-2"></span><span>18%</span></div>
						</div>

					</div>
				</div>
			</li>
			<li class="flaticon-dirt icon-clima-1">
				<h3>먼지</h3>
				<div class=" rb-overlay">
					<span class="rb-close">close</span>
					<div class="rb-main">
						<div class="rb-title"><h3>미세먼지</h3></div>

						<div class="rb-body3">
							<div><span>1F</span><span class="icon-clima-2"></span><span>19</span></div>
							<div><span>2F</span><span class="icon-clima-2"></span><span>19</span></div>
							<div><span>3F</span><span class="icon-clima-2"></span><span>18</span></div>
							<div><span>4F</span><span class="icon-clima-2"></span><span>17</span></div>
							<div><span>5F</span><span class="icon-clima-2"></span><span>19</span></div>
							<div><span>6F</span><span class="icon-clima-2"></span><span>22</span></div>
							<div><span>7F</span><span class="icon-clima-2"></span><span>18</span></div>
							<div><span>8F</span><span class="icon-clima-2"></span><span>18</span></div>
							<div><span>9F</span><span class="icon-clima-2"></span><span>18</span></div>
							<div><span>10F</span><span class="icon-clima-2"></span><span>18</span></div>
						</div>

					</div>
				</div>
			</li>
			<li class="flaticon-public8 icon-clima-4">
				<h3>엘리베이터</h3>
				<div class="rb-overlay">
					<span class="rb-close">close</span>
					<div class="rb-main">
						<div class="rb-title"><h3>엘리베이터</h3></div>

						<div class="rb-body4">
							<div><span>L</span><span>1F</span></div>
							<div><span>R</span><span>5F</span></div>
						</div>

					</div>
				</div>
			</li>

			<li class="flaticon-toilet1 icon-clima-1">
				<h3>화장실</h3>
				<div class="rb-overlay">
					<span class="rb-close">close</span>
					<div class="rb-main">
						<div class="rb-title"><h3>화장실</h3></div>

						<div class="rb-body5">
							<div >
								<div class="rb-body5-sub1"><span>1F</span></div>
								<div class="rb-body5-sub2"><span>M</span><span>□</span><span>■</span></div>
								<div class="rb-body5-sub3"><span>F</span><span>■</span><span>■</span></div>
							</div>
							<div >
								<div class="rb-body5-sub1"><span>2F</span></div>
								<div class="rb-body5-sub2"><span>M</span><span>□</span><span>■</span></div>
								<div class="rb-body5-sub3"><span>F</span><span>■</span><span>■</span></div>
							</div>
							<div >
								<div class="rb-body5-sub1"><span>3F</span></div>
								<div class="rb-body5-sub2"><span>M</span><span>□</span><span>■</span></div>
								<div class="rb-body5-sub3"><span>F</span><span>■</span><span>■</span></div>
							</div>
							<div >
								<div class="rb-body5-sub1"><span>4F</span></div>
								<div class="rb-body5-sub2"><span>M</span><span>□</span><span>■</span></div>
								<div class="rb-body5-sub3"><span>F</span><span>■</span><span>■</span></div>
							</div>
							<div >
								<div class="rb-body5-sub1"><span>5F</span></div>
								<div class="rb-body5-sub2"><span>M</span><span>□</span><span>■</span></div>
								<div class="rb-body5-sub3"><span>F</span><span>■</span><span>■</span></div>
							</div>
							<div >
								<div class="rb-body5-sub1"><span>6F</span></div>
								<div class="rb-body5-sub2"><span>M</span><span>□</span><span>■</span></div>
								<div class="rb-body5-sub3"><span>F</span><span>■</span><span>■</span></div>
							</div>
							<div >
								<div class="rb-body5-sub1"><span>7F</span></div>
								<div class="rb-body5-sub2"><span>M</span><span>□</span><span>■</span></div>
								<div class="rb-body5-sub3"><span>F</span><span>■</span><span>■</span></div>
							</div>
							<div >
								<div class="rb-body5-sub1"><span>8F</span></div>
								<div class="rb-body5-sub2"><span>M</span><span>□</span><span>■</span></div>
								<div class="rb-body5-sub3"><span>F</span><span>■</span><span>■</span></div>
							</div>
							<div >
								<div class="rb-body5-sub1"><span>9F</span></div>
								<div class="rb-body5-sub2"><span>M</span><span>□</span><span>■</span></div>
								<div class="rb-body5-sub3"><span>F</span><span>■</span><span>■</span></div>
							</div>
							<div >
								<div class="rb-body5-sub1"><span>10F</span></div>
								<div class="rb-body5-sub2"><span>M</span><span>□</span><span>■</span></div>
								<div class="rb-body5-sub3"><span>F</span><span>■</span><span>■</span></div>
							</div>


						</div>

					</div>
				</div>
			</li>

		</ul>

	</div>
</div><!-- /container -->
<script src="/js/jquery.min.js"></script>
<script src="/js/jquery.fittext.js"></script>
<script src="/js/boxgrid.js"></script>
<script src="/js/react.js"></script>
<script src="/js/JSXTransformer.js"></script>

	<script>
			$(function() {
				Boxgrid.init();
			});
		</script>
</body>
</html>