<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/layout :: header">
	<title>Toy Box</title>
</head>
<body>
<div class="container">
	<!-- Codrops top bar -->
	<header class="clearfix">
		<h1>Toy Box</h1>
	</header>
	<div id="app" class="main">


			<script type="text/jsx" src="/js/app.js"></script>

	</div>
</div><!-- /container -->



<script src="/js/jquery.min.js"></script>
<script src="/js/jquery.fittext.js"></script>
<script  src="/js/boxgrid.js"></script>



<script src="/js/react.js"></script>
<script src="/js/react-with-addons.js"></script>
<script src="/js/JSXTransformer.js"></script>
</body>
</html>